.main-container {
    height: 60vh;
    width: 100vw;
}

.main-row {
    height: 60vh;
    width: 100vw;
    flex-wrap: wrap;
    margin-top: 5%;
}

.selfie {
    border-radius: 50%;
    max-height: 35vh;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.primary-font {
    font-family: Raleway;
}

.big-hi {
    font-size: 2rem;
}

.name {
    font-family: 'Pacifico', cursive;
    color: #226755;
}

.sub-greeting {
    font-size: 1.75rem;
}

.social-row {
    width: 50%;
}

.social {
    max-height: 5vh;
    fill: #226755;
}

.about-me {
    padding-left: 10%;
    padding-right: 10%;
    max-width: 100vw;
}