.main-container {
    height: 100vh;
    width: 100vw;
}

.main-row {
    height: 60vh;
    width: 100vw;
    flex-wrap: wrap;
    margin-top: 5%;
}

.selfie {
    border-radius: 50%;
    max-height: 35vh;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.primary-font {
    font-family: Raleway;
}

.big-hi {
    font-size: 2rem;
}

.sub-greeting {
    font-size: 1.75rem;
}

.social-row {
    width: 50%;
}

.social {
    max-height: 5vh;
}